.venv/*
2024 Q3 QBR/*
2024 Q4 Connectors Data/*
2024 Q4 QBR/*

2025 Q1 QBR/*
FS Escalation/*
FS Playground/*
PWC TOol/*
Teleprompter/*
~$Connector Analysis.xlsx
Connector Analysis.xlsx
connector_data_analysis.ipynb
connector_data_clean.ipynb
QBR_current_qtr_analysis.ipynb
qbr_data.xlsx
QBR-clean_wuuid.ipynb
QBR-clean.ipynb
QBR-QoQ.ipynb
UI-AppsWithFS.zip
